<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectCyclingMobileApp"
        tools:targetApi="31">
        <activity
            android:name=".ClubProfileView"
            android:exported="false" />
        <activity
            android:name=".ClubProfile"
            android:exported="false" />
        <activity
            android:name=".CyclingClubOwner"
            android:exported="false" />
        <activity
            android:name=".Event"
            android:exported="false" />
        <activity
            android:name=".EventDetails"
            android:exported="false" />
        <activity
            android:name=".Welcome"
            android:exported="false" />
        <activity
            android:name=".Admin"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".User"
            android:exported="false" />
        <activity
            android:name=".UserList"
            android:exported="false" />
        <activity
            android:name=".Participant"
            android:exported="false" />
        <activity
            android:name=".ParticipantEventsView"
            android:exported="false" />
        <activity
            android:name=".EventTypeDisplay"
            android:exported="false" />
        <activity
            android:name=".EventSearch"
            android:exported="false" />
        <activity
            android:name=".ParticipantClubPageAccess"
            android:exported="false" />
        <activity
            android:name=".Feedback"
            android:exported="false" />
        <activity
            android:name=".FeedbackAdapter"
            android:exported="false" />
        <activity
            android:name=".ClubFeedbackView"
            android:exported="false" />
        <activity
            android:name=".EventsJoined"
            android:exported="false" />
        <activity
            android:name=".EventsJoinedAdapter"
            android:exported="false" />
        <activity
            android:name=".LogIn"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>